/* General Rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* Header Rules */
header {
    height: 550px;
    padding-top: 20px;
    background-image: url("../img/jumbo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

    /* Navigation Rules */
    #top-nav {
        height: 30%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

        #logo {
            width:15%;
        }
        
        #nav-bar {
            width: 50%;
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }

        #log-in {
            width: 5%;
            border: 1px solid #fff;
            background-color: #fff;
            border-radius: 10px;
            padding: 2px;
            text-align: center;
            color: #04013d;
        }

        #log-in a {
            text-decoration: none;
            color: #04013d;
        }

        #nav-bar li a {
            color: #fff;
            text-decoration: none;
        }


    /* Download Section Rules */
    #download-section {
        height: 70%;
        width: 60%;
        margin: 0 auto;
    }

    #download-section div {
        text-align: center;
        height: 30%;
    }

        #top-title {
            padding-top: 50px;
            color: #fff;
            font-size: 50px;
        }

        #top-par {
            padding-top: 50px;
            color: #fff;
            font-size: 20px;
        }

    #dwn {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

        
    #dwn a {
        text-decoration: none;
        color:#fff;
    }

    #mac-dwn a {
        color: #1f1d36;
    }
        
        #mac-dwn {
        width: 20%;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 20px;
        color: #1f1d36;
        padding: 5px;
        }

        #open-browser {
        width: 30%;
        background-color: #1f1d36;
        border: 1px solid #1f1d36;
        border-radius: 20px;
        color: #fff;
        padding: 5px;
        }


/* Main Rules */

main {
    height: 2300px;    
}

    section {
        height: 500px;
    }    

    .bg-gray{
        background-color: lightgray;
    }    
        .section-container {
            margin: 0 auto;
            max-width: 1200px;
            height: 100%;
            padding: 50px 0;
            display: flex;
            justify-content: space-between;
        }

            .big-col {
                width: 60%;
                height: 100%;
                padding-left: 130px;
            }

                .photo {
                    height: 400px;
                }

            .small-col {
                width: 40%;
                height: 100%;
                padding-top: 50px;
            }

                .title {
                    font-size: 50px;
                }

                .subtitle {
                    font-size: 20px;
                }

        #bot-container {
            max-width: 1200px;
            margin: 0 auto;
            height: 100%;
            padding: 50px 0;
        }

    #bot-gray {
        background-color: lightgray;
        height: 900px;    
    }
        
        #bot-container {
            text-align: center;
        }

        #adventure {
            max-width: 800px;
            margin: 0 auto;
            background-image: url(../img/stars.svg);
            background-size: cover;
        }

            #bot-mac-dwn {
                width: 200px;
                height: 50px;
                padding-top: 15px;
                background-color: #2a5fd1;
                border-radius: 20px;
                margin: 0 auto;
            }

                #bot-mac-dwn a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 20px;
                }

/* Footer Rules */
footer {
    height: 700px;
    background-color: #000f1f;
}

    /* Navigation Section Rules */
    #bot-nav {
        width: 80%;
        height:550px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 50px;
    }

        #credits {
        max-width: 300px;
        max-height: 300px;
        }

            #caption {
                font-size: 35px;
                color: #2a5fd1;
                max-height: 100px;
            }

            #lang,#social {
                max-height: 50px;
                padding-top: 15px;
            }

        /* Credits Section Rules */
        #credits div {
            height: calc(100% / 3);
            
        }

        #italian-flag {
            max-height: 15px;
        }


            #lang a {
                text-decoration: none;
                color: #fff;
            }

        #social {
            color: #fff;
            font-size: 20px;
        }
            
    #bot-nav nav {
        max-width: 200px;
        height: 60%;
        
    }

        /* Navigation Rules */

        nav div {
            color: #fff;
        }

        .link a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
        }

        .link {
            margin-top: 10px;
        }

        .title a {
            text-decoration: none;
            color:#2a5fd1;
            font-size: 20px;
        }

    /* Sign-in Section Rules */

    #sign-in {
        width: 80%;
        margin: 0 auto;
        border-top: 1px solid #2a5fd1;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }

        #sign-in-btn {
            width: 100px;
            height: 40px;
            background-color: #2a5fd1;
            border-radius: 20px;
            padding: 10px;
            text-align: center;
        }

        #sign-in-btn a {
            color: #fff;
            text-decoration: none;
        }