/* General Rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* Header Rules */
header {
    height: 550px;
    padding-top: 20px;
    background-image: url("../img/jumbo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* DEBUG */
    /* background-color: greenyellow; */
}

    /* Navigation Rules */
    #top-nav {
        height: 30%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* DEBUG */
        /* background-color: #0261c7; */
        /* border: 1px solid black;  */
    }

        #logo {
            width:15%;
        }
        
        #nav-bar {
            width: 50%;
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }

        #log-in {
            width: 5%;
            border: 1px solid #fff;
            background-color: #fff;
            border-radius: 10px;
            padding: 2px;
            text-align: center;
            color: #04013d;
        }

        #log-in a {
            text-decoration: none;
            color: #04013d;
        }

        #nav-bar li a {
            color: #fff;
            text-decoration: none;
        }


    /* Download Section Rules */
    #download-section {
        height: 70%;
        width: 60%;
        margin: 0 auto;
        /* DEBUG */
        /* background-color: #0261c7; */
        /* border: 1px solid black; */
    }

    #download-section div {
        text-align: center;
        /* color: #fff; */
        /* DEBUG */
        /* border: 1px solid black; */
        height: 30%;
    }

        #top-title {
            padding-top: 50px;
            color: #fff;
            font-size: 50px;
        }

        #top-par {
            padding-top: 50px;
            color: #fff;
            font-size: 20px;
        }

    #dwn {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

        
    #dwn a {
        text-decoration: none;
        color:#fff;
    }

    #mac-dwn a {
        color: #1f1d36;
    }
        
        #mac-dwn {
        width: 20%;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 20px;
        color: #1f1d36;
        padding: 5px;
        }

        #open-browser {
        width: 30%;
        background-color: #1f1d36;
        border: 1px solid #1f1d36;
        border-radius: 20px;
        color: #fff;
        padding: 5px;
        }


/* Main Rules */

main {
    height: 1000px;
    /* DEBUG */
    /* background-color: aqua; */
}

    /* Features Section Rules */
    .row {
        width: 100%;
        height: 200px;
        /* DEBUG */
        /* background-color: black; */
    }
    
    .grey {
        background-color: #d7d8d9;
    }
    
        /* Row Rules */
        .feature {
            width: 80%;
            margin: 0 auto;
            height: 200px;
            display: flex;
            /* DEBUG */
            border: 1px solid black;
        }

        .feature div {
            width: 50%;
            height: 100%;
            /* DEBUG */
            border: 1px solid black;
        }

        /* Columns Rules */
        .col {
            width:100%;
            height: 200px;
        }

        .vertical {
            flex-direction: column;
            align-items: center;
            /* DEBUG */
            border: 1px solid black;
        }

        .vertical div {
            width: 100%;
            height: 100%;
        }

/* Footer Rules */
footer {
    height: 30%;
    /* DEBUG */
    background-color: #000f1f;
}

    /* Navigation Section Rules */
    #bot-nav {
        width: 80%;
        height:90%;
        display: flex;
        /* DEBUG */
        border: 1px solid white;
        margin: auto;
    }

    #credits {
        width: 25%;
        height: 60%;
        /* DEBUG */
        border: 1px solid white;
    }

        /* Credits Section Rules */
        #credits div {
            height: calc(100% / 3);
            /* DEBUG */
            border: 1px solid white;
        }

    #bot-nav nav {
        width: 20%;
        height: 60%;
        display: flex;
        flex-direction: column;
        /* DEBUG */
        border: 1px solid white;
    }